{erl_opts, [
  {parse_transform, lager_transform},
  warn_export_all,
  debug_info
]}.

{edoc_opts, [{preprocess, true}]}.
{plugins, [rebar_ct]}.

{clean_files, [
  "erl_crash.dump",
  "ebin/*.beam",
  "log/*",
  "logs/*"
]}.

{deps_dir, ["deps"]}.
{deps, [
  {lager,     ".*",     {git, "https://github.com/basho/lager",
                          {tag, "2.0.3"}}},
  {iso8601,   ".*",     {git, "https://github.com:seansawyer/erlang_iso8601.git",
                          {tag, "1.1.1"}}},
  {jsx,       ".*",     {git, "https://github.com/talentdeficit/jsx.git",
                          {tag, "v1.4.5"}}}
]}.
