{erl_opts, [
  warn_export_all,
  debug_info
]}.

{edoc_opts, [{preprocess, true}]}.
{plugins, [rebar_ct]}.

{clean_files, [
  "erl_crash.dump",
  "ebin/*.beam",
  "log/*",
  "logs/*"
]}.

{deps, [
  {lager,     "2.0.0",  {git, "git://github.com/basho/lager",
                          {tag, "2.0.0"}}},
  {'iso8601', ".*",     {git, "git@github.com:seansawyer/erlang_iso8601.git",
                          {tag, "1.1.1"}}},
  {jsx,       ".*",     {git, "git://github.com/talentdeficit/jsx.git",
                          {branch, "master"}}}
]}.
